body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#0f172a;
    color:white;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:10px;
}

.hero h2{
    color:#fbbf24;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin:auto;
    line-height:1.6;
}

section{
    padding:60px 20px;
    text-align:center;
}

.card{
    background:#1e293b;
    max-width:500px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
}

.card h3{
    color:#fbbf24;
}
